.heading{
    font-style: italic;
    background-color: cadetblue;
    color: black;
}
.Functions{
    margin-top: 30px;
    background-color: rgb(105, 30, 175);
}

.inputClass{
    width: 30%;
}

.container-def{
    margin-bottom: 50px;
}